*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #22223b;
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.spin__ball{
    width:15px;
    height: 15px;
    background-color:#fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: spinBall 2s linear infinite alternate;
    -webkit-animation: spinBall 3s linear infinite;
}
.spin__ball:nth-child(2){
    animation-delay:.5s ;
}
.spin__ball:nth-child(3){
    animation-delay:1s ;
}


@keyframes spinBall {
    0%{
        transform-origin: 500% 50%;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
}50%{
        transform-origin: 500% 50%;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}50.1%{
    transform-origin: -500% 50%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}100%{
    transform-origin: -500% 50%;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}
}

footer{
    color: #fff;
    text-align: center;
}
span{
    color:brown
}